.cj-timeline{
	position: relative;
	&:before,
	&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 200px;
		transition: .15s ease-out;
		pointer-events: none;
		z-index: 30;
	}
	&:before{
		left: 0;
		background: linear-gradient(to left, rgba(white, 0) 0%, rgba(white, 1) 100%);
	}
	&:after{
		right: 0;
		background: linear-gradient(to right, rgba(white, 0) 0%, rgba(white, 1) 100%);
	}
	&__container{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 16px;
		padding-bottom: 24px;
		position: relative;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	&__entry{
		position: relative;
		margin-right: 24px;
		flex-shrink: 0;
		z-index: 20;
		&:last-child{
			margin-right: 0;
		}
		&--bad{
			transform: translateY(24px);
		}
		&--neutral{
		}
		&--good{
			transform: translateY(-24px);
		}
	}
	&__interaction{
	}
	&__connector{
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		margin-left: 12px;
		transform: translateX(-50%);
		z-index: -1;
	}
	&__scroll{
		background: #acbdcc;
		position: absolute;
		top: 50%;
		border: 0;
		border-radius: 99px;
		width: 32px;
		height: 32px;
		transform: translateY(-50%);
		cursor: pointer;
		outline: none;
		transition: .2s linear;
		z-index: 35;
		.cj-icon{
			color: white;
		}
		&--left{
			left: 24px;
		}
		&--right{
			right: 24px;
		}
	}

	&.reached-start{
		.cj-timeline{
			&__scroll--left{
				opacity: 0;
				visibility: hidden;
				left: 0;
			}
		}
		&:before{
			opacity: 0;
		}
	}
	&.reached-end{
		.cj-timeline{
			&__scroll--right{
				opacity: 0;
				visibility: hidden;
				right: 0;
			}
		}
		&:after{
			opacity: 0;
		}
	}
}
