.cj-channel{
	width: 52px;
	height: 52px;
	border-radius: 52px;
	background: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 0;
	transition: background .15s ease-out;
	cursor: pointer;
	outline: none;
	&__icon{
		transition: .15s ease-out;
	}
	&--default{
		box-shadow: 0 0 16px rgba(black, .2);
		&:hover{
			background: $t-default;
		}
	}
	&--primary{
		box-shadow: 0 0 16px rgba(green, .15);
		&:hover{
			background: $t-primary;
		}
	}
	&--accent{
		box-shadow: 0 0 16px rgba(darkorange, .25);
		&:hover{
			background: $t-accent;
		}
	}
	&--warn{
		box-shadow: 0 0 16px rgba(red, .2);
		&:hover{
			background: $t-warn;
		}
	}
	&:hover{
		.cj-channel{
			&__icon{
				color: white;
			}
		}
	}
}
