.cj-select{
	position: relative;
	min-width: 200px;
	padding: 8px 0;
	display: flex;
	align-items: center;
	&__label{
		margin-right: 16px;
		flex-shrink: 0;
	}
	&__wrapper{
		flex: 1;
		position: relative;
	}
	&__field{
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		padding: 8px 40px 8px 16px;
		cursor: pointer;
		transition: background .15s ease-out;
		box-sizing: border-box;
		background: white;
		&:hover{
			background: #fafafa;
		}
	}
	&__arrow{
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);
		opacity: .5;
	}
	&__dropdown{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		max-height: 160px;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		transition: .15s ease-out;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 8px 8px rgba(black, .06);
		z-index: 100;
	}
	&__option{
		width: 100%;
		padding: 8px 16px;
		background: transparent;
		border: 0;
		cursor: pointer;
		background: white;
		transition: background .15s ease-out;
		outline: none;
		text-align: left;
		&:hover{
			background: #fafafa;
		}
	}
	&.is-active{
		.cj-select{
			&__arrow{
				transform: translateY(-55%) scaleY(-1);
			}
			&__dropdown{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
