.cj-interaction{
	width: 200px;
	padding: 24px 16px;
	box-sizing: border-box;
	text-align: center;
	&__header{
		position: relative;
	}
	&__source{
		position: absolute !important;
		top: 5%;
		left: 60%;
		transform: translate(-50%, -50%);
	}
	&__icons{
		padding: 16px 0;
	}
	&__description{
		background: white;
		box-shadow: 0 0 8px rgba(black, .06);
		padding: 16px 8px;
	}
	&__date{
		margin-top: 16px;
		opacity: .5;
	}
}
