.cj-source{
	position: relative;
	display: inline-flex;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&:after{
		content: attr(data-tooltip);
		position: absolute;
		left: 100%;
		background: white;
		box-shadow: 0 0 8px rgba(black, .06);
		border-radius: 16px;
		padding: 4px 8px;
		white-space: nowrap;
		transform: translateX(8px);
		opacity: 0;
		visibility: hidden;
		transition: .15s ease-out;
	}
	&:hover{
		&:after{
			opacity: 1;
			visibility: visible;
		}
	}
	&__image{
		width: 100%;
		height: auto;
	}
}
