.cj-icon{
	// Theme
	&--default{
		color: $t-default;
	}
	&--primary{
		color: $t-primary;
	}
  &--secondary{
		color: $t-secondary;
	}
	&--accent{
		color: $t-accent;
	}
	&--warn{
		color: $t-warn;
	}

	// Sizes
	&--sm{
		font-size: 16px !important;
		> * {
			font-size: 16px !important;
		}
	}
	&--md{
		font-size: 16px !important;
		> * {
			font-size: 16px !important;
		}
	}
	&--lg{
		font-size: 24px !important;
		> * {
			font-size: 24px !important;
		}
	}

  &--tooltip {
		cursor: pointer;
    position: relative;
		&:after {
			content: attr(data-tooltip);
			font-family: Poppins, Roboto, Helvetica, Arial;
			position: absolute;
			left: 100%;
			background: white;
			box-shadow: 0 0 8px rgba(black, .06);
			border-radius: 16px;
			padding: 4px 8px;
			white-space: nowrap;
			transform: translateX(8px);
			opacity: 0;
			visibility: hidden;
			transition: .15s ease-out;
      display: block;
      color: $t-default;
      letter-spacing: .3px;
      font-size: 10px;
		}
		&:hover {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
