body{
	margin: 0;
}

.cj-journey{
	box-shadow: 0 0 16px rgba(black, .06);
}

.cj-button{
	padding: 8px 16px;
	background: $t-default;
	color: white;
	border: 0;
	cursor: pointer;
	outline: none;
}

.cj-app{
	&__playground{
		padding: 16px;
	}
}

@font-face {
	font-family: Flaticon;
	src: url("/fonts/Flaticon.woff") format("woff");
}

[class*=" flaticon-"]:before,[class^=flaticon-]:before {
	font-family: Flaticon;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased
}
[class^="flaticon-"], [class*=" flaticon-"] {
	font-size: 1.3rem;
	font-family: Flaticon;
	font-weight: normal;
	font-style: normal;
}

.flaticon-multimedia-5:before {
    content: "\f100"
}

.flaticon-multimedia-3:before {
    content: "\f101"
}

.flaticon-mail-1:before {
    content: "\f102"
}

.flaticon-email:before {
    content: "\f103"
}

.flaticon-mail:before {
    content: "\f104"
}

.flaticon-like:before {
    content: "\f105"
}

.flaticon-clock-2:before {
    content: "\f106"
}

.flaticon-delete-2:before {
    content: "\f107"
}

.flaticon-add-label-button:before {
    content: "\f108"
}

.flaticon-arrows:before {
    content: "\f109"
}

.flaticon-eye:before {
    content: "\f10a"
}

.flaticon-reply:before {
    content: "\f10b"
}

.flaticon-interface-11:before {
    content: "\f10c"
}

.flaticon-technology-2:before {
    content: "\f10d"
}

.flaticon-avatar:before {
    content: "\f10e"
}

.flaticon-star:before {
    content: "\f10f"
}

.flaticon-delete-1:before {
    content: "\f110"
}

.flaticon-interface-10:before {
    content: "\f111"
}

.flaticon-medical:before {
    content: "\f112"
}

.flaticon-imac:before {
    content: "\f113"
}

.flaticon-profile-1:before {
    content: "\f114"
}

.flaticon-time-3:before {
    content: "\f115"
}

.flaticon-list-3:before {
    content: "\f116"
}

.flaticon-multimedia-2:before {
    content: "\f117"
}

.flaticon-interface-9:before {
    content: "\f118"
}

.flaticon-file-1:before {
    content: "\f119"
}

.flaticon-background:before {
    content: "\f11a"
}

.flaticon-chat-1:before {
    content: "\f11b"
}

.flaticon-graph:before {
    content: "\f11c"
}

.flaticon-pie-chart:before {
    content: "\f11d"
}

.flaticon-bag:before {
    content: "\f11e"
}

.flaticon-cart:before {
    content: "\f11f"
}

.flaticon-warning-2:before {
    content: "\f120"
}

.flaticon-download:before {
    content: "\f121"
}

.flaticon-edit-1:before {
    content: "\f122"
}

.flaticon-visible:before {
    content: "\f123"
}

.flaticon-line-graph:before {
    content: "\f124"
}

.flaticon-statistics:before {
    content: "\f125"
}

.flaticon-paper-plane:before {
    content: "\f126"
}

.flaticon-cogwheel-2:before {
    content: "\f127"
}

.flaticon-lifebuoy:before {
    content: "\f128"
}

.flaticon-settings-1:before {
    content: "\f129"
}

.flaticon-menu-button:before {
    content: "\f12a"
}

.flaticon-user:before {
    content: "\f12b"
}

.flaticon-apps:before {
    content: "\f12c"
}

.flaticon-clock-1:before {
    content: "\f12d"
}

.flaticon-close:before {
    content: "\f12e"
}

.flaticon-pin:before {
    content: "\f12f"
}

.flaticon-circle:before {
    content: "\f130"
}

.flaticon-interface-8:before {
    content: "\f131"
}

.flaticon-technology-1:before {
    content: "\f132"
}

.flaticon-danger:before {
    content: "\f133"
}

.flaticon-exclamation-square:before {
    content: "\f134"
}

.flaticon-cancel:before {
    content: "\f135"
}

.flaticon-calendar-3:before {
    content: "\f136"
}

.flaticon-warning-sign:before {
    content: "\f137"
}

.flaticon-more-1:before {
    content: "\f138"
}

.flaticon-exclamation-2:before {
    content: "\f139"
}

.flaticon-cogwheel-1:before {
    content: "\f13a"
}

.flaticon-more-v2:before {
    content: "\f13b"
}

.flaticon-add-circular-button:before {
    content: "\f13c"
}

.flaticon-facebook-letter-logo:before {
    content: "\f13d"
}

.flaticon-twitter-logo:before {
    content: "\f13e"
}

.flaticon-linkedin-logo:before {
    content: "\f13f"
}

.flaticon-skype-logo:before {
    content: "\f140"
}

.flaticon-up-arrow-1:before {
    content: "\f141"
}

.flaticon-support:before {
    content: "\f142"
}

.flaticon-piggy-bank:before {
    content: "\f143"
}

.flaticon-confetti:before {
    content: "\f144"
}

.flaticon-gift:before {
    content: "\f145"
}

.flaticon-rocket:before {
    content: "\f146"
}

.flaticon-puzzle:before {
    content: "\f147"
}

.flaticon-computer:before {
    content: "\f148"
}

.flaticon-alert-2:before {
    content: "\f149"
}

.flaticon-alert-off:before {
    content: "\f14a"
}

.flaticon-map:before {
    content: "\f14b"
}

.flaticon-interface-7:before {
    content: "\f14c"
}

.flaticon-graphic-2:before {
    content: "\f14d"
}

.flaticon-cogwheel:before {
    content: "\f14e"
}

.flaticon-alert-1:before {
    content: "\f14f"
}

.flaticon-folder-4:before {
    content: "\f150"
}

.flaticon-interface-6:before {
    content: "\f151"
}

.flaticon-interface-5:before {
    content: "\f152"
}

.flaticon-calendar-2:before {
    content: "\f153"
}

.flaticon-time-2:before {
    content: "\f154"
}

.flaticon-signs-2:before {
    content: "\f155"
}

.flaticon-calendar-1:before {
    content: "\f156"
}

.flaticon-chat:before {
    content: "\f157"
}

.flaticon-infinity:before {
    content: "\f158"
}

.flaticon-list-2:before {
    content: "\f159"
}

.flaticon-bell:before {
    content: "\f15a"
}

.flaticon-delete:before {
    content: "\f15b"
}

.flaticon-squares-4:before {
    content: "\f15c"
}

.flaticon-clipboard:before {
    content: "\f15d"
}

.flaticon-shapes:before {
    content: "\f15e"
}

.flaticon-comment:before {
    content: "\f15f"
}

.flaticon-squares-3:before {
    content: "\f160"
}

.flaticon-mark:before {
    content: "\f161"
}

.flaticon-signs-1:before {
    content: "\f162"
}

.flaticon-squares-2:before {
    content: "\f163"
}

.flaticon-business:before {
    content: "\f164"
}

.flaticon-browser:before {
    content: "\f165"
}

.flaticon-car:before {
    content: "\f166"
}

.flaticon-light:before {
    content: "\f167"
}

.flaticon-information:before {
    content: "\f168"
}

.flaticon-dashboard:before {
    content: "\f169"
}

.flaticon-edit:before {
    content: "\f16a"
}

.flaticon-location:before {
    content: "\f16b"
}

.flaticon-technology:before {
    content: "\f16c"
}

.flaticon-exclamation-1:before {
    content: "\f16d"
}

.flaticon-tea-cup:before {
    content: "\f16e"
}

.flaticon-notes:before {
    content: "\f16f"
}

.flaticon-analytics:before {
    content: "\f170"
}

.flaticon-transport:before {
    content: "\f171"
}

.flaticon-truck:before {
    content: "\f172"
}

.flaticon-user-settings:before {
    content: "\f173"
}

.flaticon-user-add:before {
    content: "\f174"
}

.flaticon-user-ok:before {
    content: "\f175"
}

.flaticon-internet:before {
    content: "\f176"
}

.flaticon-alert:before {
    content: "\f177"
}

.flaticon-alarm-1:before {
    content: "\f178"
}

.flaticon-grid-menu:before {
    content: "\f179"
}

.flaticon-up-arrow:before {
    content: "\f17a"
}

.flaticon-more:before {
    content: "\f17b"
}

.flaticon-lock-1:before {
    content: "\f17c"
}

.flaticon-profile:before {
    content: "\f17d"
}

.flaticon-users:before {
    content: "\f17e"
}

.flaticon-map-location:before {
    content: "\f17f"
}

.flaticon-placeholder-2:before {
    content: "\f180"
}

.flaticon-route:before {
    content: "\f181"
}

.flaticon-more-v4:before {
    content: "\f182"
}

.flaticon-lock:before {
    content: "\f183"
}

.flaticon-multimedia-1:before {
    content: "\f184"
}

.flaticon-add:before {
    content: "\f185"
}

.flaticon-more-v5:before {
    content: "\f186"
}

.flaticon-more-v6:before {
    content: "\f187"
}

.flaticon-grid-menu-v2:before {
    content: "\f188"
}

.flaticon-suitcase:before {
    content: "\f189"
}

.flaticon-app:before {
    content: "\f18a"
}

.flaticon-time-1:before {
    content: "\f18b"
}

.flaticon-calendar:before {
    content: "\f18c"
}

.flaticon-list-1:before {
    content: "\f18d"
}

.flaticon-list:before {
    content: "\f18e"
}

.flaticon-file:before {
    content: "\f18f"
}

.flaticon-folder-3:before {
    content: "\f190"
}

.flaticon-folder-2:before {
    content: "\f191"
}

.flaticon-folder-1:before {
    content: "\f192"
}

.flaticon-folder:before {
    content: "\f193"
}

.flaticon-stopwatch:before {
    content: "\f194"
}

.flaticon-time:before {
    content: "\f195"
}

.flaticon-search-1:before {
    content: "\f196"
}

.flaticon-music-1:before {
    content: "\f197"
}

.flaticon-music-2:before {
    content: "\f198"
}

.flaticon-settings:before {
    content: "\f199"
}

.flaticon-tool-1:before {
    content: "\f19a"
}

.flaticon-security:before {
    content: "\f19b"
}

.flaticon-interface-4:before {
    content: "\f19c"
}

.flaticon-interface-3:before {
    content: "\f19d"
}

.flaticon-interface-2:before {
    content: "\f19e"
}

.flaticon-layers:before {
    content: "\f19f"
}

.flaticon-placeholder-1:before {
    content: "\f1a0"
}

.flaticon-placeholder:before {
    content: "\f1a1"
}

.flaticon-web:before {
    content: "\f1a2"
}

.flaticon-multimedia:before {
    content: "\f1a3"
}

.flaticon-tabs:before {
    content: "\f1a4"
}

.flaticon-signs:before {
    content: "\f1a5"
}

.flaticon-interface-1:before {
    content: "\f1a6"
}

.flaticon-network:before {
    content: "\f1a7"
}

.flaticon-share:before {
    content: "\f1a8"
}

.flaticon-menu-1:before {
    content: "\f1a9"
}

.flaticon-menu:before {
    content: "\f1aa"
}

.flaticon-info:before {
    content: "\f1ab"
}

.flaticon-exclamation:before {
    content: "\f1ac"
}

.flaticon-plus:before {
    content: "\f1ad"
}

.flaticon-music:before {
    content: "\f1ae"
}

.flaticon-interface:before {
    content: "\f1af"
}

.flaticon-diagram:before {
    content: "\f1b0"
}

.flaticon-book:before {
    content: "\f1b1"
}

.flaticon-black:before {
    content: "\f1b2"
}

.flaticon-squares-1:before {
    content: "\f1b3"
}

.flaticon-clock:before {
    content: "\f1b4"
}

.flaticon-graphic-1:before {
    content: "\f1b5"
}

.flaticon-symbol:before {
    content: "\f1b6"
}

.flaticon-graphic:before {
    content: "\f1b7"
}

.flaticon-tool:before {
    content: "\f1b8"
}

.flaticon-laptop:before {
    content: "\f1b9"
}

.flaticon-event-calendar-symbol:before {
    content: "\f1ba"
}

.flaticon-logout:before {
    content: "\f1bb"
}

.flaticon-refresh:before {
    content: "\f1bc"
}

.flaticon-questions-circular-button:before {
    content: "\f1bd"
}

.flaticon-search-magnifier-interface-symbol:before {
    content: "\f1be"
}

.flaticon-search:before {
    content: "\f1bf"
}

.flaticon-attachment:before {
    content: "\f1c0"
}

.flaticon-speech-bubble-1:before {
    content: "\f1c1"
}

.flaticon-open-box:before {
    content: "\f1c2"
}

.flaticon-coins:before {
    content: "\f1c3"
}

.flaticon-speech-bubble:before {
    content: "\f1c4"
}

.flaticon-squares:before {
    content: "\f1c5"
}
