.cj-journey{
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		background: $t-default;
		cursor: pointer;
		transition: .15s ease-out;
	}
	&__title{
		transition: .15s ease-out;
		color: white !important;
	}
	&__body{
		position: relative;
		height: 0px;
		overflow: hidden;
		transition: height .3s;
	}
	&__filter{
		position: absolute;
		top: 0px;
		left: 16px;
		z-index: 20;
	}
	&__timeline{
		padding-top: 48px;
		z-index: 10;
	}
	&__arrow{
		transition: .15s ease-out;
		color: white !important;
	}

	&.is-active{
		.cj-journey{
			&__body{
				height: auto;
			}
			&__arrow{
				transform: rotate(180deg);
			}
		}
	}
}

.cj-text{
	font-family: Poppins, Roboto, Helvetica, Arial;
	display: block;
	color: $t-default;
	letter-spacing: .3px;
	&--lead{
		font-size: 16px;
	}
	&--body{
		font-size: 12px;
	}
	&--small{
		font-size: 10px;
	}
}
