.cj-connector{
	&__gradient{
		position: absolute;
	}
	&__increase-2{
		transform: translateY(-1px);
	}
	&__increase-1{
		transform: translateY(24px);
	}
	&__stable{
		transform: translateY(35px);
	}
	&__decrease-1{
		transform: translateY(48px);
	}
	&__decrease-2{
		transform: translateY(48px);
	}
}
